.containerBrands{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.containerCarousel {
    width: 1250px;
    height: 234px;
    overflow: hidden;
    position: relative;
    margin: 40px 0;
  }
  
.carousel {
    width: fit-content;
    display: flex;
}
  
.logo {
    background-color: white;
    border-radius: 50%;
    width: 211px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    margin: 10px 10px;
}
  
.buttonCarrosel {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: white;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px #0000002E;
}
  
.prev {
    left: 0;
}
  
.next {
    right: 0;
}
  