.containerBrands{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
 
.logo {
    background-color: white;
    border-radius: 50%;
    width: 211px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    margin: 10px 10px;
}