.btBuy, .btCheckOut, .btOk{
    color: white;
    border: none;
    margin: 0 auto;
    background-color: var(--pinkPrimary);
    text-transform: uppercase;
    cursor: pointer;
}

.btProduct{
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    width: 227px;
    height: 60px;
    margin: 20px 80px;
    background-color: var(--pinkPrimary);
    cursor: pointer;
}

.btBuy{
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    width: 245px;
    height: 44px;
}

.btCheckOut{
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    width: 131px;
    height: 48px;
}

.btOk{
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    width: 62px;
    height: 45px;
    margin: 10px;
}