.selected, .notSelected{
    width: 128px;
    height: 128px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 11px 0px #00000021;
}

.selected{
    background: white;
}

.notSelected{
    background-color: var(--gray2);
}

