.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.divBtnClose{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}  

.divBtnClose button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.divMainModal{
    width: 100%;
    display: flex;   
}

.divDetails{
    width: 400px;
}

.titleModal,
.priceModal{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #041E50;
    margin-bottom: 20px;
}

.titleModal{
    font-weight: 400px;
}

.priceModal{
    font-weight: 900;
}

.descriptionModal{
    width: 290px;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.detailModal{
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #041E50;
}