.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerTop{
    width: 1280px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F0F0F0;
}

.containerTopics{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 600;
    color: var(--gray1);
}

.emphasis{
    color: var(--pinkPrimary);
}

.imgIcons{
    width: 20px;
    height: 20px;
    margin: 10px;
}