@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h2{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: var(--pinkPrimary);
}

:root{
  --pinkPrimary: #F71963;
  --gray: #808080;
  --gray1: #9F9F9F;
  --gray2: #f4f4f4;
  --black: #4E4E4E;
  --lightBlack: #3F3F40;
  --ligthBlack2: #3B3B3B;
}